{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
    body {
        font-family: 'Raleway', sans-serif;
        background-color: rgb(255, 255, 255);

    }

    #btn {
        padding: 8px;
        width: 90px;
        background-color: rgb(250, 248, 248);
        border: 1px solid black;
        font-weight: 800;
        color: rgb(16, 16, 16);

    }

    form {
        height: 450px;
        width: 400px;
        border-radius: 1px solid white;
        font-family: 'Raleway', sans-serif;
        padding: 50px;
        text-align: center;
        width: 400px;
        border-radius: 10px;
    }

    .login {
        margin: auto;
        height: 350px;
        width: 400px;
        color: rgb(0, 0, 0);
        margin-left: 550px;
        position: relative;
        text-align: center;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    h1 {
        color: #000000;
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        font-weight: 600;
        padding: 20px;
    }

    .img {
        width: 100%;
    }

    .box {
        height: 100vh;
        background-size: cover;
        color: rgb(255, 255, 255);
        width: 100%;
        z-index: 1;
    }

    input {
        width: 250px;
        padding: 6px;
    }

    label {
        font-weight: bold;
    }

    p {
        font-size: 12px;
        color: rgb(0, 0, 0);
    }

    a {
        color: rgb(10, 151, 10);
        font-weight: 600;
    }

    a:hover {
        color: rgb(255, 0, 0);
    }

    .screen {
        position: absolute;
        width: 900px;
        height: 550px;
        z-index: 0;
        left: 300px;
        top: 100px;
    }

    @media (max-width:380px) {
        .screen {
            position: absolute;
            width: 107%;
            height: 68vh;
            z-index: 0;
            top: 128px;
            left: -34px;
        }

        .login {
            margin-left: 24px;
            height: 53%;
            width: 288px;

        }

        form {
            padding: 18px;
            width: 250px;
            height: 53%;
            width: 250px;
            text-align: center;
        }
        label{
            text-align: center;
        }

    }
</style>

<body>
    <img class="screen" src="{% static 'imgg/loginscreen.png' %}">

    <div class="box">
        <h1><strong>Log In</strong></h1>
        <div class="login">
            <form action="{% url 'signin' %}" method="post">
                {% csrf_token %}
                <label for="email">Apple Id</label><br>
                <input type="email" id="address" name="email" value="" required><br><br>
                <label for="Password">Password</label><br>
                <input type="password" id="password" name="password" value="" required><br><br>
                <br>
                <input id="btn" type="submit">
                <br>
                <br>
                <p>Don't have an Account? <a href="{%  url 'signup' %}"> Login Now!</a></p>
            </form>
        </div>
    </div>
</body>

{% endblock %}